html, button, section {
    padding: 0;
    margin: 0;
}

textarea {
    outline: none;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: dimgray;
    padding: 1vh 1vw;
    box-sizing: border-box;
}   

#chat {
    display: flex;
    flex-flow: column-reverse;
    height: 80vh;
    margin: 1vh 2vw;
    background-color:#383838;
    color:azure;
    overflow: auto;
    white-space: wrap;
}

#message {
    height: 8vh;
    
}

#send {
    display: flex;
    flex-direction: row;
}

#send-button {
    margin-left: 2vw;
    width: 80px;
}

textarea {
    border: none;
    resize: none;
    height: 8vh;
    margin: 1vh 2vw;
    background-color: #383838;
    color: #D7D5D5;
    overflow: auto;
}

#name-input {
    margin-left: 1vw;
}

#name {
    margin: 0 1vw;
}

#change-name {
    width: 100px;
}